:root{
    --default-font-size: 1em;
    --font-primary: 'Arial', sans-serif;
    --debug-color: red;
    margin: 0px;
    border: 0px;
    padding: 0px;
    box-sizing: border-box;
    background: #f4f4f4;
}

body {
    font-size: var(--default-font-size);
    font: var(--font-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .calculator {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  #result {
    width: 90%;
    margin-bottom: 10px;
    padding: 10px;
    text-align: right;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 60px);
    gap: 10px;
  }
  .buttons a {
    font-size: calc(1.2 * var(--default-font-size));
    text-align: center;
    grid-column: span 4;
    background-color: #f4f4f4;
  }
  .buttons button {
    font-size: calc(1.2 * var(--default-font-size));
    padding: 15px;
    border: none;
    background-color: #e0e0e0;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .buttons button:hover {
    background-color: #d0d0d0;
  }
  
  .buttons #equal {
    background-color: #4CAF50;
    color: white;
  }
  
  .buttons #clear {
    background-color: #ed695f;
    color: white;
  }